body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(250, 250, 250); */
  background: #f8f6f3;
  color: #242424;
  height: auto;
}

code {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
