.memoryGame {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  line-height: 1;
  font-family: 'Patrick Hand', sans-serif;
  margin-bottom: 6rem;
}
.memoryTitle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 2vh;
}

.memoryStartBtn {
  width: 160px;
  height: 60px;
  margin-bottom: 2vh;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 500;
  background: rgb(21, 107, 237);
  color: #fff;
}

.memoryTimer {
  margin-bottom: 2vh;
  font-size: 30px;
  font-weight: 500;
}
/* .memory-game p {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.memory-game p strong {
  font-size: 14px;
  color: #777;
} */

.memoryGame .cards {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.memoryGame .cards.hold {
  pointer-events: none;
}

.pokemonCard {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.pokemonCard.flipped {
  pointer-events: none;
}

.pokemonCard.hold {
  pointer-events: none;
}

.pokemonCard.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.pokemonCard .front,
.pokemonCard .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.pokemonCard .front {
  background: #fff;
  transform: rotateY(180deg);
}

.pokemonCard .back {
  background: #51dce0;
  color: #d6aeb5;
  font-size: 100px;
  transition: 0.3s ease all;
}

.pokemonCard .back:hover {
  background: #dba8b1;
  color: #fff;
  transform: scale(1.02);
}

.cardClearPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.447);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardClearModal {
  position: absolute;
  width: 80%;
  max-width: 900px;
  height: 75%;
  min-height: 500px;
  border-radius: 5vw;
  background: rgb(249, 249, 249);
  border: 10px solid rgb(171, 171, 171);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardClearModal > h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1vh;
}

.cardClearModal > .memoryTimer {
  font-weight: 800;
  font-size: 40px;
  color: rgb(21, 107, 237);
}

.cardModalClose {
  width: 120px;
  height: 48px;
  margin-bottom: 2vh;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 500;
  background: rgb(21, 107, 237);
  color: #fff;
}

.cardModalRank {
  width: 90%;
  height: 50%;
  background: rgb(220, 232, 242);
  margin-bottom: 2vh;
  border: 5px solid rgb(141, 158, 172);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.cardModalRank.rankZone {
  justify-content: flex-start;
}
.cardModalRank > h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 24px;
  font-weight: 700;
}
.cardModalRank > .rankList {
  width: 100%;
  height: auto;
  /* margin: 10% 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardModalRank > .rankList > li {
  background: rgb(191, 204, 205);
  margin: 10px 0;
  padding: 7px 16px 5px 16px;
  font-size: 20px;
  width: 90%;
  border-radius: 8px;
}
.cardModalRank > .rankList > li > span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}
.cardModalRank > .rankList > li > .rankRate {
  width: 10%;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}
.cardModalRank > .rankList > li > .rankName {
  width: 50%;
  text-align: left;
}
.cardModalRank > .rankList > li > .rankScore {
  width: 40%;
  text-align: right;
}

.cardRankConfirm {
  width: 80px;
  height: 36px;
  /* margin-bottom: 1vh; */
  margin-top: 2%;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  background: rgb(30, 175, 191);
  color: #fff;
}

.cardRankInput {
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 3px 3px 3px;
  border: none;
  border: 2px solid rgb(30, 175, 191);
  background: #fff;
  color: #000;
}

@media (max-width: 400px) {
  .pokemonCard {
    height: 75px;
    width: 75px;
  }
  .pokemonCard img {
    width: 90%;
    height: auto;
  }
  .cardClearModal > .memoryTimer {
    font-size: 26px;
  }
  .cardClearModal {
    width: 90%;
  }
  .cardModalRank > .rankList > li {
    background: rgb(191, 204, 205);
    margin: 6px 0;
    padding: 7px 10px 5px 10px;
    font-size: 16px;
    width: 90%;
    border-radius: 8px;
  }
  .cardModalRank > .rankList > li > span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
  }
}
