.AdminWrite {
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.pageTitle {
  margin-top: 2rem;
  margin-left: 50px;
  font-size: 32px;
  font-weight: 700;
}
.AdminWrite > form {
  width: 100%;
  margin: 2rem auto;
  border: 1px solid rgba(71, 71, 71, 0.192);
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.AdminWrite textarea,
.AdminWrite input {
  display: block;
  border: 0;
  background: rgba(243, 243, 243, 0.884);
  width: 100%;
  padding: 0.5rem;
}

.AdminWrite > form > button {
  margin-top: 3rem;
}

.defaultInfo > article {
  display: flex;
}

input.number {
  width: 20%;
  min-width: 200px;
  margin: 0.5rem 0;
}

.visibleWrap,
.colorWrap {
  margin: 0 1rem;
  z-index: 10;
}

.colorTab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  background: rgba(235, 235, 235, 0.842);
  cursor: pointer;
}

.colorBox {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 20%;
}

.colorPickerWrap {
  width: 300px;
  height: auto;
  position: absolute;
  background: rgba(38, 38, 38, 0.591);
  padding: 1rem;
  top: 40px;
  right: 0;
  border-radius: 10px;
  cursor: auto;
}

.colorPickerWrap > div:first-child {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 1rem;
  padding-top: 0;
}

.colorPickerWrap > div:last-child {
  cursor: pointer;
}

.visibleInput {
  width: 20%;
  height: 40px;
  min-width: 140px;
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(243, 243, 243, 0.884);
}

.visibleInput > .toggleWrap {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background: #000;
  cursor: pointer;
}

.visibleInput > .toggleWrap > .toggle {
  position: absolute;
  margin: 3px;
  top: 0;
  left: 0%;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

.thumbFrame {
  position: relative;
  width: 500px;
  height: auto;
  background: rgb(179, 179, 179);
}

.thumbFrame > img {
  width: 100%;
  height: auto;
}

.thumbFrame .thumbTemp {
  width: 500px;
  height: 300px;
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.divLine {
  width: 100%;
  height: 2px;
  background: #000;
  margin: 3rem 0;
}

.mainFrame {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;
  transform-origin: center top;
}

.mainFrame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .mainFrame > h1 {
  position: absolute;
  padding: 2rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 700;
  color: #fff;
  mix-blend-mode: difference;
  white-space: nowrap;
} */

.mainFrame .mainTemp {
  width: 100%;
  height: 100%;
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.mainImageInput {
  margin-bottom: 3rem;
}

.subFrame {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.subFrame:before {
  content: '';
  display: block;
  padding-top: 25%;
}

.subFrame > img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
}

.subFrame .subTemp {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.subTitleInput {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.titleInput {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  text-align: right;
  color: rgba(201, 201, 201, 0);
  -webkit-text-stroke: 2px rgb(59, 59, 59);
}

.skillSetInput {
  text-align: right;
  font-size: 20px;
  margin-bottom: 1rem;
}

.skillSetEls {
  text-align: right;
  margin-bottom: 8px;
}

.skillSetEls > span {
  font-size: 20px;
  font-weight: normal;
  margin-right: 12px;
}

.skillSetEls > span:last-child {
  margin-right: 0;
}

.periodInput {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: right;
}

.siteLinkInput,
.githubLinkInput {
  font-size: 18px;
  margin-bottom: 16px;
}

.projectRange,
.projectPeople {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}

.peopleInput,
.rangeInput {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: right;
}

.peopleInput {
  width: 3rem;
}

.peopleEl,
.rangeEls {
  font-size: 16px;
  margin-bottom: 8px;
}

.mainInfo {
  width: 100%;
  display: flex;
  margin: 20px 0 60px 0;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.mainInfo > article:last-child > div {
  text-align: right;
  padding-left: 20px;
}

.mainInfo > article {
  display: flex;
  flex-direction: column;
}

.mainInfo > article:first-child {
  /* margin-right: 20px; */
  text-align: right;
  flex: 2;
}

.mainInfo > article:last-child {
  flex-direction: row;
  flex: 3;
  /* padding-left: 20px; */
  justify-content: space-between;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.summary > article {
  width: 70%;
  margin: 0 auto;
}

.summary label {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 700;
}

.summaryTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.descInput {
  font-size: 18px;
  font-weight: 500;
  min-height: 200px;
  height: 100%;
  margin-bottom: 32px;
  line-height: 1.7;
  word-break: keep-all;
}

.contentWrap {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .AdminWrite > form {
    padding: 20px 40px;
  }
  .titleInput {
    font-size: 76px;
  }

  .subTitleInput {
    font-size: 22px;
  }

  .periodInput {
    font-size: 20px;
  }

  .siteLinkInput {
    font-size: 16px;
  }

  .githubLinkInput {
    font-size: 16px;
  }

  .descInput {
    font-size: 24px;
    padding-right: 0px;
  }
  .summaryTitle {
    font-size: 52px;
    font-weight: 700;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .AdminWrite > form {
    padding: 0px;
  }

  .titleInput {
    font-size: 64px;
  }

  .subTitleInput {
    font-size: 20px;
  }

  .periodInput {
    font-size: 18px;
  }

  .siteLinkInput {
    font-size: 16px;
  }

  .githubLinkInput {
    font-size: 16px;
  }

  .descInput {
    font-size: 18px;
    padding-right: 0px;
    margin-top: 32px;
  }

  .summary,
  .mainInfo {
    flex-direction: column;
    padding: 30px 20px;
    margin: 0;
  }
  .summary > article:first-child,
  .mainInfo > article:first-child {
    margin-right: 0px;
  }

  .summary > article:last-child,
  .mainInfo > article:last-child {
    margin-left: 0px;
  }

  .summaryTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .summary label {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .skillSetInput,
  .peopleInput,
  .rangeInput {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
