@import '../../styles/common.scss';

.toastui {
  margin-bottom: 1rem;

  div.tui-editor-contents {
    height: auto;
    min-height: 100px;
    background-color: $sub-color;
    color: $main-color;
    font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    @include frame;

    * {
      box-sizing: border-box;
      word-break: keep-all;
      // color: $main-color;
    }

    a {
      display: inline-block;
    }

    h1 {
      @include title(32px);
      font-weight: 700;
      color: $main-color;
      border: 0;
    }

    h2 {
      @include title(24px);
      color: $main-color;
      border: 0;
    }

    h3 {
      @include title(18px);
      color: $main-color;
      border: 0;
    }

    p {
      font-size: 16px;
      color: #f8f6f3b8;

      img {
        width: 100%;
        margin: 0.5rem auto 4rem;
        padding: 0;
        display: block;
      }

      del {
        display: flex;
        justify-content: space-around;

        img {
          width: 49%;
          display: inline-block;
        }
      }
    }

    li {
      &::before {
        width: 5px;
        height: 5px;
        margin-top: 11px;
        margin-left: -15px;
        background-color: #f8f6f3b8;
      }
      p {
        margin: 6px 0;
      }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
      h1 {
        @include title(1.3rem);
        font-weight: 700;
      }

      h2 {
        @include title(18px);
      }

      h3 {
        @include title(14px);
      }

      p {
        font-size: 14px;

        img {
          margin: 0.5rem auto 3rem;
        }
      }

      li {
        &::before {
          width: 4px;
          height: 4px;
          margin-top: 9px;
          margin-left: -12px;
        }
      }
    }

    @media all and (max-width: 767px) {
      h1 {
        @include title(1.5rem);
        font-weight: 700;
        margin: 2rem 0 0.8rem;
      }

      h2 {
        @include title(18px);
      }

      h3 {
        @include title(14px);
      }

      p {
        font-size: 13px;

        img {
          margin: 0.5rem auto 3rem;
        }

        del {
          img {
            width: 100%;
          }
        }
      }

      li {
        &::before {
          width: 4px;
          height: 4px;
          margin-top: 8px;
          margin-left: -10px;
        }
      }
    }
  }
}
