.adminList {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
}

table {
  width: 100%;
  min-width: 1000px;
  position: relative;
  border-collapse: collapse;
  border: 1px solid rgb(167, 167, 167);
}

thead th {
  padding: 10px 0;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border: 1px solid rgb(210, 210, 210);
  border-bottom: 3px solid #036;
}

tbody td {
  padding: 0.5rem 0rem;
  border: 1px solid rgb(210, 210, 210);
}

tbody tr.odd {
  background: rgb(239, 241, 249);
}
tbody tr.even {
  background: rgb(255, 255, 255);
}

.deleteBtn {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  background: rgb(255, 49, 49);
  color: #fff;
  border: none;
}

.editBtn {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  background: rgb(20, 232, 20);
  color: #fff;
  border: none;
}

.deleteAlertModal {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #000;
  top: 0;
  left: 0;
  background: rgba(46, 46, 46, 0.625);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteAlertModal > article {
  width: auto;
  min-width: 300px;
  height: auto;
  padding: 0.5rem;
  min-height: 100px;
  background: #fff;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteAlertModal > article > p {
  margin: 1rem 2rem;
}

.btnWrap > button {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  margin: 1rem 0.7rem;
  border-radius: 4px;
  color: #fff;
  border: none;
}

.btnWrap > button:first-child {
  background: rgb(255, 49, 49);
}

.btnWrap > button:last-child {
  background: rgb(48, 48, 48);
}
