.adminHome {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: left;
}

.adminHome > h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 2rem 0;
}

.memoWrap {
  position: relative;
  width: 100%;
  height: auto;
}

.memoBtn {
  position: absolute;
  right: 0;
  top: -30px;
  width: 80px;
  height: 30px;
  font-weight: 500;
  border: none;
  color: #fff;
  background: rgb(12, 49, 65);
}

.memoBoard {
  width: 100%;
  height: auto;
  min-height: 800px;
  border: 1px solid rgb(192, 192, 192);
  padding: 1rem;
}

.memoBoard h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.memoBoard h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.memoBoard h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
