.AdminWrite {
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.pageTitle {
  margin-top: 2rem;
  margin-left: 50px;
  font-size: 32px;
  font-weight: 700;
}
.AdminWrite > form {
  width: 100%;
  margin: 2rem auto;
  border: 1px solid rgba(71, 71, 71, 0.192);
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.AdminWrite textarea,
.AdminWrite input {
  display: block;
  border: 0;
  background: rgba(235, 235, 235, 0.842);
  width: 100%;
  padding: 0.5rem;
}

.AdminWrite > form > button {
  margin-top: 3rem;
}

.defaultInfo > article {
  display: flex;
}

input.number {
  width: 20%;
  min-width: 200px;
  margin: 0.5rem 0;
}

.colorWrap {
  margin: 0 1rem;
}

.colorTab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  background: rgba(235, 235, 235, 0.842);
  cursor: pointer;
}

.colorBox {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 20%;
}

.colorPickerWrap {
  width: 300px;
  height: auto;
  position: absolute;
  background: rgba(38, 38, 38, 0.591);
  padding: 1rem;
  top: 40px;
  right: 0;
  border-radius: 10px;
  cursor: auto;
}

.colorPickerWrap > div:first-child {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 1rem;
  padding-top: 0;
}

.colorPickerWrap > div:last-child {
  cursor: pointer;
}

.thumbInput,
.mainImageInput,
.subImageInput {
  padding: 10px 10px;
  margin: 0.5rem 0;
}

.thumbFrame {
  width: 500px;
  height: auto;
  background: rgb(179, 179, 179);
}

.thumbFrame > img {
  width: 100%;
  height: auto;
}

.mainFrame {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;
  transform-origin: center top;
  margin-bottom: 3rem;
}

.mainFrame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainFrame > h1 {
  position: absolute;
  padding: 2rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 700;
  color: #fff;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.subFrame {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.subFrame:before {
  content: '';
  display: block;
  padding-top: 25%;
}

.subFrame > img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
}

.thumbTemp {
  width: 500px;
  height: 300px;
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.mainTemp {
  width: 100%;
  height: 100%;
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.subTemp {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  background: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.titleInput {
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subTitleInput {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.periodInput {
  font-size: 22px;
  margin-bottom: 16px;
}

.siteLinkInput {
  font-size: 18px;
  margin-bottom: 16px;
}

.githubLinkInput {
  font-size: 18px;
  margin-bottom: 32px;
}

.descInput {
  font-size: 28px;
  height: 100%;
  margin-bottom: 32px;
  line-height: 1.2;
  padding-right: 30px;
}

.summary,
.mainInfo {
  width: 100%;
  display: flex;
  margin: 40px 0;
}
.summary > article,
.mainInfo > article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.summary > article:first-child,
.mainInfo > article:first-child {
  margin-right: 10px;
}

.summary > article:last-child,
.mainInfo > article:last-child {
  margin-left: 10px;
}

.summary label {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 700;
}

.skillSetInput,
.peopleInput,
.rangeInput {
  font-size: 20px;
  margin-bottom: 32px;
}

.skillSetEls {
  margin-bottom: 8px;
}

.skillSetEls > span {
  font-size: 20px;
  font-weight: normal;
  margin-right: 12px;
}

.rangeEls {
  font-size: 20px;
  margin-bottom: 8px;
}

.summaryTitle {
  font-size: 40px;
  font-weight: 500;
}

.contentWrap {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .AdminWrite > form {
    padding: 20px 40px;
  }
  .titleInput {
    font-size: 76px;
  }

  .subTitleInput {
    font-size: 22px;
  }

  .periodInput {
    font-size: 20px;
  }

  .siteLinkInput {
    font-size: 16px;
  }

  .githubLinkInput {
    font-size: 16px;
  }

  .descInput {
    font-size: 24px;
    padding-right: 0px;
  }
  .summaryTitle {
    font-size: 52px;
    font-weight: 700;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .AdminWrite > form {
    padding: 0px;
  }

  .titleInput {
    font-size: 64px;
  }

  .subTitleInput {
    font-size: 20px;
  }

  .periodInput {
    font-size: 18px;
  }

  .siteLinkInput {
    font-size: 16px;
  }

  .githubLinkInput {
    font-size: 16px;
  }

  .descInput {
    font-size: 18px;
    padding-right: 0px;
    margin-top: 32px;
  }

  .summary,
  .mainInfo {
    flex-direction: column;
    padding: 30px 20px;
    margin: 0;
  }
  .summary > article:first-child,
  .mainInfo > article:first-child {
    margin-right: 0px;
  }

  .summary > article:last-child,
  .mainInfo > article:last-child {
    margin-left: 0px;
  }

  .summaryTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .summary label {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .skillSetInput,
  .peopleInput,
  .rangeInput {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
