@mixin frame {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: left;

  @media all and (max-width: 767px) {
    padding: 0rem 1rem;
  }
}

@mixin title($size) {
  font-size: $size;
  font-weight: 500;
  // margin: 1rem auto;
  // padding: 0 50px;

  @media all and (max-width: 767px) {
    // padding: 0 1rem;
  }
}
.toastui {
  div.tui-editor-contents {
    position: relative;
    width: 100%;
    min-height: 100px;
    height: auto;
    font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;

    * {
      box-sizing: border-box;
    }

    h1 {
      @include frame;
      @include title(32px);
    }

    h2 {
      @include frame;
      @include title(24px);
    }

    h3 {
      @include frame;
      @include title(18px);
    }
    p {
      img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
      }
    }

    ul {
      background: #242424;
      color: #f8f6f3;
      padding: 2rem 0;
      margin: 0;
      list-style-type: none;

      * {
        color: #f8f6f3;
      }
    }

    ol {
      background: none;
      color: #242424;
      padding: 2rem 0;
      margin: 0;
      list-style: none;

      * {
        color: #242424;
      }
    }

    li {
      margin: 0 auto;
      padding: 0;
      font-size: 16px;
      @include frame;

      &::before {
        content: none;
      }

      b,
      strong {
        display: block;
        @include title(2.5rem);
        margin-top: 2rem;
      }

      i,
      em {
        display: block;
        @include title(1.3rem);
        font-style: normal;
        font-weight: 500;
      }

      img {
        padding: 1rem 0 2.5rem;
        display: block;
        margin-top: 0;
      }

      &:last-child {
        img {
          padding: 1rem 0;
          margin-bottom: 0;
        }
      }
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      @include title(1.3rem);
    }

    h2 {
      @include title(18px);
    }

    h3 {
      @include title(14px);
    }

    ul {
      padding: 0.5rem 0;
    }

    ol {
      padding: 0.5rem 0;
    }

    li {
      b,
      strong {
        @include title(2rem);
        margin-top: 1.5rem;
      }

      i,
      em {
        @include title(1.2rem);
      }
    }
  }

  @media all and (max-width: 767px) {
    h1 {
      @include title(1.3rem);
    }

    h2 {
      @include title(18px);
    }

    h3 {
      @include title(14px);
    }

    ul {
      padding: 0.5rem 0;
    }

    ol {
      padding: 0.5rem 0;
    }

    li {
      font-size: 14px;
      font-weight: 400;
      b,
      strong {
        @include title(1.4rem);
        margin-top: 1rem;
      }

      i,
      em {
        @include title(1rem);
      }

      img {
        padding: 0.4rem 0;
      }

      &:last-child {
        img {
          padding: 0.4rem 0;
        }
      }
    }
  }
}
