.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(236, 248, 255);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.formWrap {
  display: flex;
  background: #fff;
  padding: 4rem 0;
  border-radius: 1rem;
  box-shadow: 0 0px 3.8px -7px rgba(0, 0, 0, 0.07), 0 0px 10.5px -7px rgba(0, 0, 0, 0.1), 0 0px 25.3px -7px rgba(0, 0, 0, 0.13), 0 0px 84px -7px rgba(0, 0, 0, 0.2);
}

.formLine {
  width: 1px;
  height: auto;
  background: rgb(209, 209, 209);
}

.imgWrap {
  flex: 1;
  margin: 4rem;
}

.imgWrap > img {
  width: 75%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 4rem;
  text-align: left;
}
.inputWrap {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}

.loginIcon {
  position: absolute;
  font-size: 1.5rem;
  color: rgb(128, 128, 128);
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

.loginForm > div > input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  border: 1px solid grey;
  transition: 0.3s;
}

.loginForm > div > input:focus {
  outline: none;
  border-radius: 2rem;
  border: 1px solid rgb(94, 177, 255);
  background: rgba(94, 177, 255, 0.103);
}

.loginForm > button {
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 4px;
  font-weight: 700;
  background: rgb(94, 177, 255);
  transition: 0.3s;
}

.loginForm > button:hover {
  letter-spacing: 8px;
  background: rgb(75, 87, 252);
}

.formCopy {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.formCopyLine {
  width: 3rem;
  height: 3px;
  border-radius: 2px;
  background: rgb(94, 177, 255);
  margin-bottom: 2.5rem;
}
