@import '../../styles/common.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 240px;
  width: 240px;
  min-height: 100vh;
  height: 100%;
  background: rgb(12, 49, 65);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s;
  z-index: 10;
}

.sidebarBack {
  position: relative;
  min-width: 240px;
  width: 240px;
  min-height: 100vh;
  height: 100%;
  background: rgb(12, 49, 65);
  transition: 0.3s;
  z-index: 3;
}

.sidebarBack.sideClose,
.sidebar.sideClose {
  min-width: 0px;
  width: 0;
}

.profile {
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-bottom: 3rem;
  @include flex(center, center);

  figure {
    width: 120px;
    height: 120px;
    margin: 1rem;
    background: #fff;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  h2 {
    span {
      font-weight: 800;
    }
  }
}

.menuList {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;

  li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.445);
    }

    a {
      display: block;
      padding: 1rem 1rem;
      font-size: 14px;
      font-weight: 400;
      color: rgb(156, 156, 156);
      transition: 0.3s;

      span {
        font-size: 16px;
        margin-right: 4px;
        color: rgb(14, 151, 137);
      }

      &:hover {
        color: #fff;
      }
    }

    &.selected > a {
      font-weight: 600;
      color: rgb(255, 255, 255);
      background: rgb(5, 32, 43);
    }
  }
}

.sideToggleBtn {
  @include navBtn;
  border: 0;
  top: 0rem;
  left: 0rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: rgb(14, 151, 137);
}

.sideToggleBtn > div {
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.sideToggleBtn > .sideToggleTop {
  transform: translate(0, -250%);
}
.sideToggleBtn > .sideToggleBottom {
  transform: translate(0, 250%);
}
.sideToggleBtn:hover > .sideToggleBottom,
.sideToggleBtn:hover > .sideToggleTop {
  transform: translate(0, 0%);
}
.sideToggleBtn.opened > .sideToggleTop {
  transform: translate(0, 0%) rotate(45deg);
}
.sideToggleBtn.opened > .sideToggleBottom {
  transform: translate(0, 0%) rotate(135deg);
}
.sideToggleBtn.opened:hover > .sideToggleBottom,
.sideToggleBtn.opened:hover > .sideToggleTop {
  transform: translate(0, 0%) rotate(90deg);
}

.logoutBtn {
  position: absolute;
  width: 100%;
  left: 0rem;
  bottom: 0rem;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 12px;
  background-color: rgb(14, 151, 137);
  color: #fff;
  border: none;
}
