.sidebar {
  position: relative;
  width: 300px;
  height: 100vh;
  background: rgb(12, 49, 65);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s;
}
.sidebar.sideClose {
  width: 0;
}

.profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.profile > figure {
  width: 120px;
  height: 120px;
  margin: 1rem;
  background: #fff;
  border: 2px solid rgb(162, 162, 162);
  border-radius: 50%;
}

.profile > figure > img {
  width: 100%;
}

.menuList {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.menuList > li {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #000;
}

.menuList > li:first-child {
  border-top: 1px solid #000;
}

.menuList > li > a {
  display: block;
  padding: 1rem 1rem;
  color: #fff;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

.menuList > li.selected > a {
  background: rgb(5, 32, 43);
}

.menuList > li > a:hover {
  text-decoration: none;
  color: #fff;
}

.sideToggleBtn {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  z-index: 200;
  border-radius: 50%;
  background: rgb(14, 151, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sideToggleBtn > div {
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.sideToggleBtn > .sideToggleTop {
  transform: translate(0, -250%);
}
.sideToggleBtn > .sideToggleBottom {
  transform: translate(0, 250%);
}
.sideToggleBtn:hover > .sideToggleBottom,
.sideToggleBtn:hover > .sideToggleTop {
  transform: translate(0, 0%);
}
.sideToggleBtn.opened > .sideToggleTop {
  transform: translate(0, 0%) rotate(45deg);
}
.sideToggleBtn.opened > .sideToggleBottom {
  transform: translate(0, 0%) rotate(135deg);
}
.sideToggleBtn.opened:hover > .sideToggleBottom,
.sideToggleBtn.opened:hover > .sideToggleTop {
  transform: translate(0, 0%) rotate(90deg);
}
