.projectDetail {
  position: relative;
  z-index: 400;
  width: 100%;
  height: auto;
  background: rgb(250, 250, 250);
  overflow-x: hidden;
}
.mainImageWrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform-origin: center top;
}

.mainImageWrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectInfo {
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.projectSubTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.projectSubTitle > span {
  display: inline-block;
  width: 6rem;
  height: 2px;
  background: #242424;
  margin-left: 0.5rem;
  margin-bottom: -2px;
}

.projectTitle {
  font-size: 10rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: right;
  width: 100%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(59, 59, 59);
}

.skillSetEls {
  text-align: right;
  margin-bottom: 1rem;
}

.skillSetEls > span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 12px;
}
.skillSetEls > span:last-child {
  margin-right: 0;
}

.projectPeriod {
  font-size: 20px;
  margin-bottom: 2rem;
  text-align: right;
}

.projectRange,
.projectPeople {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}

.PeopleEl,
.rangeEls {
  font-size: 16px;
  margin-bottom: 8px;
}

.subImageWrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 1rem 0 3rem;
}

.subImageWrap:before {
  content: '';
  display: block;
  padding-top: 25%;
}

.subImage {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  /* transform: translateY(-50%); */
}
.mainInfo a:hover,
.mainInfo a {
  font-size: 20px;
  font-weight: 500;
  outline: none;
  color: #000;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
}
.mainInfo a span {
  margin-top: -2px;
  margin-right: 2px;
  transition: 0.2s ease-in;
}
.mainInfo a:hover span {
  margin-right: 12px;
}

.mainInfo {
  width: 100%;
  display: flex;
  margin: 20px 0 80px 0;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.mainInfo > article:last-child > div {
  text-align: right;
  margin-left: 2rem;
}

.mainInfo > article {
  display: flex;
  flex-direction: column;
}

.mainInfo > article:first-child {
  padding-right: 20px;
  text-align: right;
  flex: 2;
}

.mainInfo > article:last-child {
  flex-direction: row;
  flex: 3;
  padding-left: 20px;
  justify-content: space-between;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 100px 0 150px;
}

.summary > article {
  width: 70%;
  margin: 0 auto;
}

.summaryTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.projectDesc {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  word-break: keep-all;
}

.projectCloseBtn {
  position: fixed;
  z-index: 500;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 2px solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.xBtn {
  color: #242424;
  font-size: 36px;
  transition: 0.2s ease-in;
}
.projectCloseBtn:hover > .xBtn {
  transform: rotate(90deg);
}

.hiddenProject {
  width: 100vw;
  height: 100vh;
  background: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiddenProject > h1 {
  font-size: 6vw;
  font-weight: 700;
}

.otherProjectsWrap {
  width: 100%;
  height: 300px;
  background: #242424;
  margin-top: 6rem;
}

.otherProjects {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .projectInfo {
    padding: 20px 40px;
  }
  .projectTitle {
    font-size: 6rem;
  }

  .projectSubTitle {
    font-size: 20px;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .mainImageWrap {
    padding: 0;
  }

  .projectInfo {
    padding: 1rem;
  }

  .projectSubTitle {
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .projectSubTitle > span {
    width: 2px;
    height: 1.2rem;
    display: none;
  }

  .projectTitle {
    font-size: 64px;
    color: #242424;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0px rgb(59, 59, 59);
  }

  .skillSetEls {
    text-align: right;
    margin-bottom: 0.5rem;
  }

  .skillSetEls > span {
    font-size: 14px;
  }

  .projectPeriod {
    font-size: 14px;
    margin-bottom: 2rem;
  }

  .projectRange,
  .projectPeople {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .PeopleEl,
  .rangeEls {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .mainInfo > article:first-child {
    padding-right: 0px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
  }

  .mainInfo > article:last-child {
    justify-content: flex-end;
  }

  .mainInfo a:hover,
  .mainInfo a {
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    transition: 0.2s ease-in;
  }
  .mainInfo a span {
    margin-top: -2px;
    margin-right: 2px;
    transition: 0.2s ease-in;
  }
  .mainInfo a:hover span {
    margin-right: 0px;
  }

  .mainInfo a:focus span {
    margin-right: 12px;
  }

  .summary,
  .mainInfo {
    flex-direction: column;
    margin: 0;
  }

  .subImageWrap {
    margin: 2rem 0 3rem;
  }

  .summary {
    margin-bottom: 3rem;
  }

  .summary > article {
    text-align: center;

    width: 90%;
    margin: 0 auto;
  }

  .summaryTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .projectDesc {
    font-size: 14px;
    line-height: 1.7;
  }

  .projectCloseBtn {
    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  .xBtn {
    color: #242424;
    font-size: 24px;
    transition: 0.2s ease-in;
  }
  .otherProjectsWrap {
    width: 100%;
    height: auto;
    background: #242424;
    margin-top: 4.5rem;
  }

  .otherProjects {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
