.landContain {
  display: flex;
  /* max-width: 1600px; */
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.homeBoxL {
  width: 50vw;
  height: 100%;
  background: rgb(228, 228, 228);
  transform: translate(-100%, 0);
  /* transition: 0.3s ease-in; */
}
.homeBoxR {
  width: 50vw;
  height: 100%;
  background: rgb(185, 185, 185);
  transform: translate(100%, 0);
  /* transition: 0.3s ease-in; */
}

.homeHideL {
  transform: translate(-100%, 0);
}

.homeHideR {
  transform: translate(100%, 0);
}
