.land-contain {
  display: flex;
  width: 100vw;
  height: calc(100vh - 56px);
  background-color: lightgrey;
}

.projects-contain {
  background-color: burlywood;
  width: 100vw;
  height: calc(100vh - 56px);
}

.games-contain {
  background-color: rgb(135, 199, 222);
  width: 100vw;
  height: calc(100vh - 56px);
  z-index: -1;
  position: relative;
}

.home-box-l {
  width: 50%;
  height: 100%;
  background: rgb(184, 87, 87);
  transform: translate(-100%, 0);
  /* transition: 0.3s ease-in; */
}
.home-box-r {
  width: 50%;
  height: 100%;
  background: rgb(91, 133, 104);
  transform: translate(100%, 0);
  /* transition: 0.3s ease-in; */
}

.home-hide-l {
  transform: translate(-100%, 0);
}

.home-hide-r {
  transform: translate(100%, 0);
}

.project-box-wrap {
  padding-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}

.project-box-wrap > div > * {
  pointer-events: none;
}

.project-box {
  width: 200px;
  height: 200px;
  background: forestgreen;
  cursor: pointer;
}

.projectDetail-wrap {
  position: relative;
  /* position: fixed;
  top: 56px;
  left: 0; */
  width: 100vw;
  height: calc(100vh - 56px);
  background: rgb(87, 184, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #000;
}
