.land-contain {
  display: flex;
  max-width: 1600px;
  width: 100%;
  height: 100vh;
}

.projects-contain {
  /* background-color: burlywood; */
  max-width: 1600px;
  width: 100%;
  height: 100vh;
}

.games-back {
  position: relative;
}

.games-contain {
  /* background-color: rgb(135, 199, 222); */
  max-width: 1600px;
  padding-top: 120px;
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
  position: relative;
  color: #fff;
}
.games-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.games-el {
  border: 2px solid #fff;
  width: 90%;
  max-width: 980px;
  height: auto;
  margin: 2rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 2%;
}
.games-el > h2 {
  pointer-events: none;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.games-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.games-el-left {
  flex: 0.8;
  min-width: 350px;
  margin: 1rem;
}
.games-el-right {
  /* width: 45%; */
  flex: 0.8;
  min-width: 350px;
  border: 2px solid #fff;
  border-radius: 10px;
  height: 350px;
  margin: 1rem;
}
.games-el-right > h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 1rem 0;
}
.games-el-right > ul {
  display: flex;
  flex-direction: column;
}
.games-el-right > ul > li {
  width: 90%;
  margin: 1rem auto;
}
.games-el-right > ul > li > span {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
.games-el-right > ul > li > .rank-rate {
  width: 10%;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}
.games-el-right > ul > li > .rank-name {
  width: 50%;
  text-align: left;
}
.games-el-right > ul > li > .rank-score {
  width: 40%;
  text-align: right;
}

.games-el-left > img {
  width: 90%;
  height: auto;
}

.home-box-l {
  width: 50%;
  height: 100%;
  background: rgb(49, 45, 45);
  transform: translate(-100%, 0);
  /* transition: 0.3s ease-in; */
}
.home-box-r {
  width: 50%;
  height: 100%;
  background: rgb(40, 40, 40);
  transform: translate(100%, 0);
  /* transition: 0.3s ease-in; */
}

.home-hide-l {
  transform: translate(-100%, 0);
}

.home-hide-r {
  transform: translate(100%, 0);
}

.project-box-wrap {
  padding: 0 2rem;
  padding-top: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}

.project-box-wrap > div > * {
  pointer-events: none;
}

.project-box {
  position: relative;
  width: 100%;
  background: forestgreen;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in;
  color: #fff;
}
.project-box:after {
  content: '';
  display: block;
  padding-bottom: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(142deg, rgba(0, 0, 0, 0.5382528011204482) 0%, rgba(0, 0, 0, 0) 38%);
}

.project-box-title {
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  top: 1rem;
  left: 0.5rem;
}
.project-box-content {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  top: 3rem;
  left: 0.5rem;
}

.projectDetail-wrap {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  background: rgb(87, 184, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #000;
  cursor: pointer;
}
