.navContain {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList > li {
  font-size: 5rem;
  font-weight: 700;
  margin: 1.2rem 0;
}
.navLogo > a,
.navList > li > a {
  color: #242424;
  text-decoration: none;
  outline: none;
}
.navList > li > a {
  text-transform: capitalize;
}
.navLogo > a:hover,
.navList > li > a:hover {
  text-decoration: none;
  color: #242424;
}

.navLogo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: #242424;
  z-index: 200;
  font-size: 2rem;
}

.navToggleBtn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 200;
  border: 2px solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navToggleBtn > div {
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background: #242424;
  transition: 0.3s;
}

.navToggleBtn > .navToggleTop {
  transform: translate(0, -250%);
}
.navToggleBtn > .navToggleBottom {
  transform: translate(0, 250%);
}

.navToggleBtn:hover > .navToggleTop {
  transform: translate(0, 0%);
}
.navToggleBtn:hover > .navToggleBottom {
  transform: translate(0, 0%);
}

.navToggleBtn.opened > .navToggleTop {
  transform: translate(0, 0%) rotate(45deg);
}
.navToggleBtn.opened > .navToggleBottom {
  transform: translate(0, 0%) rotate(135deg);
}

.navToggleBtn.opened:hover > .navToggleTop {
  transform: translate(0, 0%) rotate(90deg);
}
.navToggleBtn.opened:hover > .navToggleBottom {
  transform: translate(0, 0%) rotate(90deg);
}
