.about {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.aboutContain {
  position: relative;
  padding-top: 120px;
  width: 100%;
  height: auto;
}

.introSec {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.introSec .introLeft {
  flex: 3;
  padding-right: 50px;
}

.introSec .introLeft h1 {
  font-size: 130px;
  font-weight: 800;
}

.introSec .introLeft h1 span {
  display: inline-block;
  transform-origin: left center;
}

.introSec .introLeft h2 {
  font-size: 40px;
  font-weight: 300;
  margin-top: 3rem;
}

.introSec .introLeft .introDesc {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 2rem;
}

.introSec .introLeft .introDesc p {
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.introSec .introLeft .line {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 60vw;
  background-color: #242424;
}

.introSec .introRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introRight .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.introRight figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introRight figure img {
  width: 80%;
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.665, 1.65);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.665, 1.65);
}

.introRight .card:hover figure img {
  transform: rotate(15deg);
}

.contactDetails {
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.contactDetails h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contactDetails p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.8rem;
  white-space: nowrap;
}

.contactDetails p svg {
  font-size: 20px;
  margin-right: 4px;
  margin-top: -2px;
}

.abilityLine {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}

.abilityLine h2 {
  font-size: 72px;
  font-weight: 800;
  margin-right: 2rem;
}

.abilityLine > div {
  position: relative;
  width: 100%;
  height: auto;
}

.abilityLine > div > .line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100vw;
  background-color: #242424;
}

.abilitySec {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  background-color: #242424;
  color: rgb(240, 240, 240);
}

.abilitySec > article {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 1rem 50px 6rem 50px;
  height: auto;
  margin: 0 auto;
  /* display: flex; */
}

.abilitySec > article > h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 3rem 0 1.5rem 0;
}

.feWrap {
  width: 100%;
}

.feWrap > li {
  width: 100%;
  display: flex;
  margin: 0.8rem 0;
  padding: 0.6rem 1rem;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  border-bottom: 2px solid rgb(41, 41, 41);
}

.feWrap > li > .title {
  display: flex;
}
.feWrap > li > .title > img {
  width: 32px;
  height: auto;
  margin-right: 1rem;
}
.feWrap > li > .title > h4 {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-bottom: 0.1rem;
}
.feWrap > li > .desc {
  text-align: right;
}

.pageTitle {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  left: 50%;
  top: 3rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .introSec {
    align-items: center;
    padding: 0 2rem;
  }

  .introSec .introLeft {
    padding-right: 2rem;
  }

  .introSec .introLeft h1 {
    font-size: 90px;
  }

  .introSec .introLeft h2 {
    font-size: 32px;
    margin-top: 2rem;
  }

  .introSec .introLeft .introDesc {
    margin-top: 1.5rem;
    padding-top: 1rem;
  }

  .introRight .card {
    padding: 1.5rem 1rem;
  }

  .contactDetails {
    margin-top: 1.5rem;
    padding: 1rem;
  }

  .contactDetails h2 {
    font-size: 28px;
  }

  .contactDetails p {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  .aboutContain {
    padding-top: 80px;
  }

  .introSec {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }

  .introSec .introLeft {
    padding-right: 0rem;
  }

  .introSec .introLeft h1 {
    font-size: 64px;
  }

  .introSec .introLeft h2 {
    font-size: 22px;
    margin-top: 1rem;
  }

  .introSec .introLeft .introDesc {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .introSec .introLeft .introDesc p {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 1.5;
  }

  .introSec .introLeft .line {
    width: 100vw;
  }

  .introRight .card {
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    flex-direction: row;
  }

  .introRight figure img {
    max-width: 180px;
  }

  .contactDetails {
    margin-top: 0rem;
    padding: 1rem;
  }

  .contactDetails h2 {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .contactDetails p {
    font-size: 12px;
  }

  .abilityLine {
    margin-top: 40px;
    padding: 0 1.5rem;
  }

  .abilityLine h2 {
    font-size: 36px;
    font-weight: 800;
    margin-right: 1rem;
  }

  .abilitySec {
    margin-top: 1.5rem;
  }

  .abilitySec > article {
    padding: 0.5rem 1.5rem 3rem 1.5rem;
  }

  .abilitySec > article > h3 {
    font-size: 24px;
    margin: 2rem 0 1rem 0;
  }

  .feWrap > li {
    flex-direction: column;
    margin: 0.8rem 0;
    padding: 0.6rem 1rem;
    align-items: flex-start;
  }

  .feWrap > li > .title > img {
    width: 26px;
    margin-right: 1rem;
  }
  .feWrap > li > .title > h4 {
    font-size: 18px;
    padding-bottom: 0.1rem;
  }

  .feWrap > li > .desc {
    align-self: flex-end;
    text-align: right;
    margin-top: 1.5rem;
    padding-left: 3rem;
    font-size: 14px;
  }

  .pageTitle {
    top: 2.2rem;
  }
}
