.projects {
  position: relative;
  width: 100;
  height: auto;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.projectsContain {
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 10;
}

.projectBoxWrap {
  padding: 0 50px;
  padding-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.projectBoxWrap > article > figure > * {
  pointer-events: none;
}

.projectBox {
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in;
  color: #242424;
  /* display: flex; */
  margin-bottom: 4rem;
}

.projectBox.odd.bottom {
  width: 66%;
  margin-top: -33.6%;
}
.projectBox.even.top {
  width: 66%;
  transform: translateX(51.5%);
}

.projectBox.odd.top > .projectBoxImg,
.projectBox.odd.bottom > .projectBoxImg,
.projectBox.even.top > .projectBoxImg,
.projectBox.even.bottom > .projectBoxImg {
  width: 100%;
  position: relative;
}

.projectBox.odd.bottom > .projectBoxImg:before,
.projectBox.even.top > .projectBoxImg:before {
  content: '';
  display: block;
  padding-top: 151%;
}
.projectBox.odd.top > .projectBoxImg:before,
.projectBox.even.bottom > .projectBoxImg:before {
  content: '';
  display: block;
  padding-top: 66%;
}

.projectBox.odd.top > .projectBoxImg > img,
.projectBox.odd.bottom > .projectBoxImg > img,
.projectBox.even.top > .projectBoxImg > img,
.projectBox.even.bottom > .projectBoxImg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projectBoxImg > .projectNum {
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  top: 0;
  right: 0;
  transform: translate(30%, -40%);
  transition: 0.5s ease;
}

.projectBoxImg:hover > .projectNum {
  transform: translate(30%, -90%);
}

.projectBoxImg > .category {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  color: #242424c2;
  text-transform: uppercase;
  /* writing-mode: vertical-rl; */
  transform: translate(0%, -120%);
}

.projectBoxImg {
  position: relative;
  z-index: 999;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.projectBoxImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projectBoxImg .thumbHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
}

.projectBoxImg .thumbHover svg {
  transition: 0.4s;
  transform: scale(0) rotate(0deg);
}

.projectBoxImg:hover .thumbHover {
  opacity: 1;
}

.projectBoxImg:hover .thumbHover svg {
  transform: scale(1) rotate(90deg);
}

.projectBoxImg:hover:active .thumbHover svg {
  transform: scale(0.8) rotate(90deg);
}

.projectBoxImg .thumbHover.mouseUp svg {
  transform: scale(8) rotate(90deg) !important;
}

.projectBoxTitle {
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.projectBoxSkills {
  margin-bottom: 0.5rem;
}
.projectBoxSkills > span {
  display: inline-block;
  margin-right: 0.5rem;
  background: #242424f6;
  color: #f8f6f3;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 6px 3px 6px;
  border-radius: 12px;
}

.projectBoxDesc {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #242424c2;
  margin-bottom: 0.5rem;
}

.viewBtn {
  border: 2px solid #242424;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  display: none;
}

.viewBtn > div {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  backdrop-filter: invert(100%);
  transform: translate(0, 100%);
}

.viewBtn:hover > div {
  transform: translate(0, 0%);
}

.viewBtn:focus > div {
  transform: translate(0, 0%) scaleY(0);
}

.initTitle {
  width: 100%;
  top: 80px;
  left: 1rem;
  position: relative;
  padding-bottom: 3rem;
  white-space: nowrap;
  font-size: 14rem;
  font-weight: 700;
  color: #242424;
  letter-spacing: -0.2rem;
}

.initTitle > span {
  display: inline-block;
}

.pageTitle {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  left: 50%;
  top: 3rem;
}

@media all and (min-width: 1023px) and (max-width: 1440px) {
  .initTitle {
    margin-bottom: 3rem;
    font-size: 12rem;
    font-weight: 700;
  }
  .projectBoxWrap {
    padding-top: 80px;
  }

  .viewBtn {
    padding: 0.8rem;
    font-size: 16px;
  }

  .projectBoxImg > .projectNum {
    font-size: 3rem;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .projectBoxWrap {
    padding: 0 1rem;
    padding-top: 80px;
    gap: 1rem;
  }

  .projectBoxImg .thumbHover {
    font-size: 3rem;
  }

  .projectBoxImg > .projectNum {
    font-size: 2.5rem;
  }

  .initTitle {
    margin-bottom: 2rem;
    font-size: 8rem;
    font-weight: 700;
  }

  .viewBtn {
    padding: 0.8rem;
    font-size: 16px;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .projects {
    padding-bottom: 40px;
  }

  .projectBoxWrap {
    padding: 0 1rem;
    padding-top: 60px;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .projectBoxImg {
    margin-bottom: 1rem;
  }

  .projectBox {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .projectBox.odd.bottom {
    width: 100%;
    margin-top: 0%;
  }
  .projectBox.even.top {
    width: 100%;
    transform: translateX(0%);
  }

  .projectBox.odd.bottom > .projectBoxImg:before,
  .projectBox.even.top > .projectBoxImg:before {
    content: '';
    display: block;
    padding-top: 66%;
  }
  .projectBox.odd.top > .projectBoxImg:before,
  .projectBox.even.bottom > .projectBoxImg:before {
    content: '';
    display: block;
    padding-top: 66%;
  }

  .projectBoxContent {
    display: flex;
    flex-direction: column;
  }

  .projectBoxContent {
    border-top: 0px solid #242424;
    padding-top: 0rem;
    flex: 2;
  }

  .projectBoxImg > .projectNum {
    font-size: 1.3rem;
    transform: translate(0%, -100%);
  }

  .projectBoxImg > .category {
    font-size: 12px;
  }

  .projectBoxSkills > span {
    font-size: 12px;
  }

  .projectBoxImg {
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .projectBoxImg .thumbHover {
    font-size: 3rem;
  }

  .initTitle {
    margin-left: -3px;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
  }

  .pageTitle {
    top: 2.2rem;
  }
}
