.projectDetailWrap {
  position: relative;
  z-index: 400;
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainImageWrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.projectInfo {
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 16px;
}

.projectSubTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.projectPeriod {
  font-size: 22px;
  margin-bottom: 32px;
}

.projectDesc {
  font-size: 28px;
  line-height: 1.2;
  padding-right: 30px;
}

.subImageWrap {
  width: 100%;
  height: auto;
}
.subImage {
  width: 100%;
  height: auto;
}
.mainInfo a:hover,
.mainInfo a {
  font-size: 20px;
  outline: none;
  color: #000;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
}
.mainInfo a span {
  font-size: 22px;
  margin-bottom: -4px;
  margin-right: 2px;
  transition: 0.2s ease-in;
}
.mainInfo a:hover span {
  margin-right: 12px;
}

.summary,
.mainInfo {
  width: 100%;
  display: flex;
  margin: 40px 0;
}
.summary > article,
.mainInfo > article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.summary > article:first-child,
.mainInfo > article:first-child {
  margin-right: 10px;
}

.summary > article:last-child,
.mainInfo > article:last-child {
  margin-left: 10px;
}

.summaryTitle {
  font-size: 60px;
  font-weight: 500;
}

.projectRange,
.projectPeople,
.projectSkillSet {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 700;
}

.skillSetEls {
  margin-bottom: 32px;
}

.skillSetEls > span {
  font-size: 20px;
  font-weight: normal;
  margin-right: 12px;
}

.PeopleEl {
  font-size: 20px;
  margin-bottom: 32px;
}

.rangeEls {
  font-size: 20px;
  margin-bottom: 8px;
}

.projectCloseBtn {
  position: fixed;
  z-index: 500;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #000;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.xBtn {
  color: #fff;
  font-size: 36px;
  transition: 0.2s ease-in;
}
.projectCloseBtn:hover > .xBtn {
  transform: rotate(90deg);
}
