.projectDetailWrap {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectCloseBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #000;
  cursor: pointer;
}

.projectInfo {
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.summary,
.mainInfo {
  width: 100%;
  display: flex;
  margin: 40px 0;
}
.summary > article,
.mainInfo > article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.summary > article:first-child,
.mainInfo > article:first-child {
  margin-right: 10px;
}

.summary > article:last-child,
.mainInfo > article:last-child {
  margin-left: 10px;
}

.summaryTitle {
  font-size: 40px;
  font-weight: 500;
}
